body {
    margin: 0;
}

.nav {
    display: block;
    overflow: hidden;
    background-color: black;
}

.link {
    width:25%;
    float: left;
    text-align:center;
}


.link a {
    display: block;
    font: 140% monospace;
    text-decoration: none;
    color: white;
    padding: 5% 0%;
}

.link a:hover {
    background: white;
    color:black;
}

body {
    background-color: rgb(100, 100, 100);
}

main {
    clear: left;
}

code {
    background-color:lightgray; 
    padding: 2px 6px;
    border-radius: 2px; 
    box-shadow: 1px 1px 2px gray;
}

.codeblock {
    font-family: monospace; 
    font-size: 100%;
    background-color: lightgray; 
    margin: 1% 5%; 
    padding: 1% 4%; 
    border-radius: 15px;
    box-shadow: 4px 4px 8px grey;
}

.main_article {
    margin: 4% 10%;
    border: 3px solid black;
    padding: 2% 10%;
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

.main_article h1 {
    font: bold 400% monospace;
    text-align: center;
}

.main_article h2 {
    font: bold 300% monospace;
}

.main_article h3 {
    font: bold 200% monospace;
}

.main_article h6 {
    font: 140% monospace;
    text-align: center;
    padding: 0 0 1% 0;
    margin: 0 0;
}

.para_1 {
    padding: 2% 0% 0% 0%;
}

.main_article p {
    font: 100% sans-serif;
    line-height: 150%;
}

.landing_section {
    margin: 4% 10%;
    border: 3px solid black;
    padding: 2% 5%;
    background-color: rgb(240, 240, 240);
}

.landing_section a {
    text-decoration: none;
    color: black;
}

.landing_section a:hover {
    text-decoration: underline;
}

.landing_section h4 {
    margin: 2.5% 0% 1% 0%;
    font: bold 270% monospace;
}

.landing_section p {
    font: 100% sans-serif;
    line-height: 150%;
}

.footer {
    background: black;
    display: block;
    overflow: hidden;
    bottom: 0;
}

.footer p {
    font: 140% monospace;
    color: white;
    text-align: center;
}

#disclaimer {
    margin: 2% 15% ;
    font: 100% monospace;
    color: white;
    text-align: center;
}

#self_portrait {
    width: 30%;
    height: 30%;
    border-radius: 5%;
    float: right;
    margin: 5% 5%;
}