#portrait {
    width: 260px;
    min-width: 260px;
    border-radius: 50%;
}

.jh-background-transparent {
    background-color: rgba(0, 0, 0, 0.8);
}

.jh-rounded-corners {
    border-radius: 15px;
}

.jh-logo {
    height: 32px;
    padding: 2px 6px;
}

.jh-article-paragraph {
    text-indent: 24px;
    line-height: 1.4em;
}

.jh-font-white {
    color: lightgray;
}

