<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="James Holt">
    <meta name="description" content= {{ description }}>
    <link rel="stylesheet" type="text/css" href= {{ stylesheet }}>
    <title>{{ title }}</title>
  </head>
  
  <body>
    
    <div class="nav">
      <div class="link">
        <a href="https://sonofspock.github.io">Home</a>
      </div>
      <div class="link">
        <a href="https://sonofspock.github.io/articles">Articles</a>
      </div>
      <div class="link">
        <a href="https://sonofspock.github.io/resources">Resources</a>
      </div>
      <div class="link">
        <a href="https://sonofspock.github.io/contact">Contact</a>
      </div>
    </div>

    <main>
      <div class="main_article">
        {{ content }}
      </div>
    </main>
        
    <div class="footer">
      <p>Copyright &copy; 2018 by James Holt</p>
      <p id='disclaimer'>
        Disclaimer: The views, thoughts, and opinions expressed on this site are
        completely my own and are not necessarily representative of those of any
        organization or other individual with which I have previously been or 
        currently am invovled, employed, or affiliated. 
      </p>
    </div>
    
  </body>
</html>
